$fontSize: 14px;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.menu {
    width: 200px;
    min-width: 200px;
    // height: 100%;
    background-color: white;
    position: absolute;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.menu-group {
    border-bottom: solid 1px rgba(0,0,0,0.25);
    padding: 15px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.menu-group:last-child {
    border: none;
}
.menu-sub-group {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    margin-bottom: 5px;
}

.menu-column {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.menu-row {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.menu-label {
    font-size: $fontSize;
    margin-right: 10px;
    margin-left: 10px;
}
.menu-number-input {
    font-size: $fontSize;
    width: $fontSize * 5;
    min-width: $fontSize * 5;
}
.menu-file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.menu-file-input + label {
    cursor: pointer;
}
.menu-button {
    font-size: $fontSize;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    vertical-align: middle;
    background-color: white;
    outline: none;
    border: none;
    font-weight: bold;
}
.menu-button:hover {
    background-color: gray;
    color: white;
}

.konva-container {
    flex-grow: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.konva-stage {
    border: solid gray 1px;
}
